.container {
    padding: 20px;
    display: flex;
    background-color: var(--colour-orange);
    width: 100vw;
    margin-top: auto;
}

.logo {
    height: 40px;
    margin: 0 10px;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin: 0;
    font-family: var(--font-mono);
    color: var(--colour-dark);
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: center;
        width: 75vw;
        box-shadow: 10px 10px 0 0 var(--colour-orange-dark);
    }

    .logoContainer {
        flex-direction: row;
    }
}
