.project-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: dashed 8px var(--colour-orange);
    scroll-snap-align: center;
    min-width: 90%;
}

.project-card__hover-image {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    margin-top: auto;
    margin-bottom: none;
}

.project-card__text-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.project-card__description {
    font-size: smaller;
    margin: 0 20px;
}

.project-card__image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* .project-card__title {

}

.project-card__description {
} */

@media (min-width: 786px) {
    .project-card {
        display: flex;
        flex-direction: row;
    }

    .project-card__hover-image {
        width: 50%;
        max-width: none;
        aspect-ratio: 1 / 1;
        margin-bottom: auto;
        margin-top: none;
    }

    .project-card__text-container {
        width: 50%;
    }

    .project-card__description {
        font-size: smaller;
    }
}

@media (min-width: 1100px) {
    .project-card__description {
        font-size: initial;
    }
}
