.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: var(--colour-orange);
    padding: 20px;
    margin-bottom: 20px;
}

.titleContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: var(--font-pixel);
    color: var(--colour-dark);
    margin: 0;
    font-size: 3.2em;
}

.subtitle {
    font-family: var(--font-mono);
    color: var(--colour-orange-light);
    margin: 5px 0 0 0;
}

/*
.container__nav {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-left: var(--colour-orange-dark) 2px solid;
}
*/

.nav {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 10px;
}

.link {
    font-family: var(--font-mono);
    color: var(--colour-dark);
    text-decoration: none;
    background-color: var(--colour-orange-light);
    text-align: center;
    padding: 0 8px;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: center;
        width: 75vw;
        box-shadow: 10px 10px 0 0 var(--colour-orange-dark);
    }
    .nav {
        margin-left: auto;
        margin-right: 15%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-left: var(--colour-orange-dark) 2px solid;
    }
    .link {
        margin: 0 15px;
        font-weight: 600;
        transition: all 0.3s ease;
        background-color: transparent;
        text-align: left;
    }

    .link:hover {
        translate: 10px 0;
    }
}
