.container {
    position: relative;
    overflow: hidden;
}

.linksContainer {
    position: absolute;
    bottom: 0px;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    color: var(--colour-dark);
    font-family: var(--font-pixel);
    padding: 2px 4px;
    background-color: var(--colour-orange);
    z-index: 20;
    transition: all 100ms ease-in-out;

    &:hover {
        text-decoration: underline;
        color: var(--colour-orange-light);
    }
}

.logo {
    color: var(--colour-orange);
    font-family: var(--font-pixel);
    font-size: medium;
    padding: 5px 10px;
    background-color: var(--colour-dark);
    z-index: 20;
    height: 40px;
    margin: 0 10px;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageHover {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    z-index: 10;
}

.imageHover:hover {
    opacity: 1;
}

.imageHover:target {
    opacity: 1;
}

@media (min-width: 768px) {
    .title {
        color: var(--colour-orange);
        padding: 5px 10px;
        background-color: var(--colour-dark);
        font-size: 0.75rem;
    }
}

@media (min-width: 1100px) {
    .title {
        font-size: initial;
    }
}
