.projects-wrapper {
    display: flex;
    gap: 20px;
    width: clamp(300px, 70vw, 800px);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-bottom: 20px;
}

.project-card {
    scroll-snap-align: center;
    min-width: 90%;
}
