.topicContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.topicContainer {
    .hover-image-container {
        width: clamp(200px, 60vw, 300px);
        height: clamp(200px, 60vw, 300px);
        object-fit: contain;
        aspect-ratio: 1/1;
    }

    .hover-image {
        width: clamp(200px, 60vw, 300px);
        height: clamp(200px, 60vw, 300px);
    }
}

.techstack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    font-family: var(--font-mono);
}

.title {
    font-family: var(--font-pixel);
    color: var(--colour-orange);
    font-size: 2.5rem;
    margin: 20px;
}

.bio {
    font-family: var(--font-mono);
    color: var(--colour-orange);
    font-size: 1.125rem;
    margin: 20px;
}

@media (min-width: 767px) {
    .topicContainer {
        .hover-image-container {
            max-width: 300px;
            width: 25vw;
            height: 25vw;
        }

        .hover-image {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .hover-image__title {
            font-size: 0.75rem;
        }

        flex-direction: row;
        gap: 20px;
    }
}

@media (min-width: 1100px) {
    .topicContainer {
        .hover-image-container {
            max-width: none;
        }
        .hover-image__title {
            font-size: initial;
        }
    }
}
