.header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: var(--colour-primary);
    padding: 20px;
}

.header__title-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header__title {
    font-family: var(--font-secondary);
    color: var(--colour-primary-text);
    margin: 0;
    font-size: 3.2em;
}

.header__subtitle {
    font-family: var(--font-primary);
    color: var(--colour-secondary);
    margin: 5px 0 0 0;
}

/*
.header__nav {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-left: var(--colour-primary-dark) 2px solid;
}
*/

.header__nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav__link {
    font-family: var(--font-primary);
    color: var(--colour-primary-text);
    text-decoration: none;
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        align-items: center;
        width: 75vw;
        box-shadow: 10px 10px 0 0 var(--colour-primary-dark);
    }
    .header__nav {
        margin-left: auto;
        margin-right: 15%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-left: var(--colour-primary-dark) 2px solid;
    }
    .nav__link {
        margin: 0 15px;
        font-weight: 600;
        transition: all 0.3s ease;
    }

    .nav__link:hover {
        translate: 10px 0;
    }
}
