.footer {
    padding: 20px;
    display: flex;
    background-color: var(--colour-orange);
    width: 100vw;
}

.footer__logo {
    height: 40px;
    margin: 0 10px;
}

.footer__text {
    margin: 0 auto;
    font-family: var(--font-mono);
    color: var(--colour-dark);
}

@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        align-items: center;
        width: 75vw;
        box-shadow: 10px 10px 0 0 var(--colour-orange-dark);
    }
}